footer {
  font-size: var(--body-font-size-xs);
  background: rgb(114 114 114) none repeat scroll 0% 0% / auto padding-box border-box;
}

footer .footer>div {
  margin: auto;
  max-width: 876px;
  padding: 10px 20px 20px;
}

footer .footer p {
  margin-top: 26px;
  font-size: 13px;
  line-height: 1.36;
  color: #fff;
  font-weight: normal;
  font-family: "Avenir LT W05_55 Roman", sans-serif;
}

footer .footer p a {
  color: #fff;
  text-decoration: underline;
}

footer .section.links > div {
  display: flex;
  border-bottom: #fff 1px solid;
}

footer .section.links > div > p {
  margin-bottom: 0;
  margin-top: 26px;
  padding: 0;
}

footer .section.links > div > p > a::after {
  content: "|";
  padding: 0 8px;
  color: #fff;
}

footer .section.links > div > p > a {
  color: #fff;
  font-family: "Avenir LT W05_55 Roman", sans-serif;
  font-weight: 400;
  letter-spacing: -0.31px;
  font-size: 14px;
  line-height: 1;
  text-decoration: underline;
  background: unset;
  border: unset;
  border-radius: unset;
  padding: 0;
  padding-bottom: 14px;
  margin: 0;
}

footer .section.columns-container {
  position: relative;
}

footer .section.columns-container > div.columns-wrapper > div > div {
  display: flex;
  justify-content: space-between;
}

footer .section.columns-container > div.columns-wrapper > div > div > div:nth-child(1) {
  flex: 0 0 66%;
}

footer .section.columns-container > div.columns-wrapper > div > div > div:nth-child(2) {
  flex: 0 0 23.74%;
  text-align: left;
  padding-top: 24px;
  position: relative;
  align-self: stretch;
}

footer .section.columns-container > div.columns-wrapper > div > div > div:nth-child(2) > p {
  padding-right: 48%;
}

footer .section.columns-container > div.columns-wrapper > div > div > div:nth-child(2) > p:nth-child(3) {
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

footer .section.columns-container > div.columns-wrapper > div > div > div:nth-child(2) > p:nth-child(3) > picture > img {
  width: 100px;
  height: auto;
}

@media (width>=900px) {
  footer .footer p {
    font-size: 11px;
  }

  footer .section.info-floater-open > p > a {
    color: #fff;
  }

  footer .section.links > div > p > a {
  font-size: 18px;
  }

  footer .section.links > div > p > a::after {
    content: '|';
    display: inline-block;
    color: #fff;
    padding: 0 15px;
    font-size: 18px;
    line-height: 1;
  }

  footer .section.links > div > p:last-child > a::after {
    display: none;
  }

  footer .footer.block {
    padding-bottom: 68px
  }

  footer .section.info-floater > div > p {
    display: none;
  }

  footer .section.info-floater-open > div > p {
    position: relative;
    padding: 15px 30px 15px 110px;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
    float: left;
    height: 100%;
    width: 550px;
    margin-top: 0;
  }

  footer .section.columns-container > div.columns-wrapper > div > div > div:nth-child(2) {
    text-align: right;
  }

  footer .section.columns-container > div.columns-wrapper > div > div > div:nth-child(2) > p {
    padding: 0;
  }

  footer .section.info-floater {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 50%;
    height: 76px;
    margin-left: -570px;
    width: 110px;
    overflow: hidden;
    background-color: #3e3092;
    cursor: pointer;
    border-radius: 54px 54px 0 0;
    transition: all 0.5s cubic-bezier(0.21,0.83,0.41,0.93);
  }

  footer .section.info-floater::before {
    content: '';
    position: absolute;
    top: 17px;
    left: 32px;
    z-index: 1;
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    text-align: center;
    background: #fff url("/icons/information.svg") no-repeat center center;
  }

  footer .section.info-floater-open {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 50%;
    margin-left: -570px;
    overflow: hidden;
    background-color: #3e3092;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.21,0.83,0.41,0.93);
    border-radius: 54px 10px 0 0;
    width: 700px;
    height: auto;
    background-image: url("/icons/close.svg");
    background-size: 26px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
  }

  footer .section.info-floater-open::before {
    content: '';
    position: absolute;
    top: 17px;
    left: 32px;
    z-index: 1;
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    text-align: center;
    background: #fff url("/icons/information.svg") no-repeat center center;
  }
}