
@font-face {
  font-family: iconfont;      
  src: url('../fonts/iconfont-normal-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Avenir LT W05_55 Roman";      
  src: url('../fonts/avenir-lt-w05-55-roman-normal-normal.ashx') format('ashx');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Avenir LT W05_55 Roman";      
  src: url('../fonts/avenir-lt-w05-55-roman-normal-normal.ashx') format('ashx');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Avenir LT W05_85 Heavy";      
  src: url('../fonts/avenir-lt-w05-85-heavy-normal-normal.ashx') format('ashx');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Avenir LT W05_85 Heavy";      
  src: url('../fonts/avenir-lt-w05-85-heavy-normal-normal.ashx') format('ashx');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
